@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./footer.css";
@import "./nav.css";
@import "./layout.css";

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title {
  font-size: 1.4rem;
  color: var(--darkOne);
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
  color: var(--lightOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  margin-top: 50px;
  width: 80%;
  transform: translate(15%, 25px);
}

.about {
  margin-top: 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.text-about {
  font-size: 20px;

  color: var(--lightOne);
  margin: 1.9rem 0 2.5rem;
  max-width: 100%;
  line-height: 2.3;
}

.book-category {
  margin-top: 100px;
  margin-bottom: 50px;
}

.book-container {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
}

figure {
  width: 250px;
  height: auto;
  cursor: pointer;
  border-radius: 7px;
  border: 2px solid transparent;
  background-color: black;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

#img-book {
  width: 100%;
  height: 250px !important;
}

.small-section,
figcaption {
  margin-top: 20px;
  display: flex;
  color: #fff;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.next-section {
  margin-top: 10px;
  padding: 10px;
}

#btn-start {
  width: 200px;
  padding: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 7px;
  background-color: var(--mainColor);
}

#btn-start:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.toggle-btn {
  display: inline-block;
  border: none;
  background: var(--darkTwo);
  color: var(--backgroundColor);
  outline: none;
  cursor: pointer;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: 0.3s;
}

.toggle-btn i {
  line-height: 39px;
}

.toggle-btn:hover {
  background: var(--mainColor);
}

.big-wrapper.light .toggle-btn i:last-child {
  display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
  display: none;
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
  .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .big-title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .shape {
    bottom: -180px;
    left: -150px;
  }

  .first-card,
  .second-card,
  .third-card,
  .fourth-card {
    width: 100%;
    height: 400px;
  }

  figure {
    width: 500px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }

  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
